# Mode: whitelist or blacklist
MODE=whitelist

# Comma-separated country codes
COUNTRIES=NZ,AU

# Space-separated rules
PORT_RULES=tcp:block:22 tcp:block:443

# Enable or disable geo blocking
GEOIP_STATE=on

# IP source: ripe | ipdeny | maxmind | ipinfo
IP_SOURCE=ipdeny
