# Mode: whitelist | blacklist
MODE=whitelist

# Countries
COUNTRIES=NZ,AU

# inbound | outbound
DIRECTION=inbound

# Port rules (space-separated)
PORT_RULES=tcp:block:22 tcp:block:443

# on | off
GEOIP_STATE=on

# ripe | ipdeny | maxmind | ipinfo
IP_SOURCE=ipdeny

# Cron schedule (optional)
SCHEDULE=0 3 * * *

# Timezone
TZ=Pacific/Auckland

# Reset config on start
RESET=false

# Optional log file
LOG_FILE=/logs/geoip-shell.log
